@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

:root {
  --orange: #FA991C;
  --snow: #FBF3F2;
  --teal: #1C768F;
  --prussian: #032539;
}

* {
  font-family: 'Roboto Condensed','Helvetica', Arial, sans-serif;
}

body, html {
  width: 100%;
  margin: auto;
  background-color: var(--snow);
  display: flex;
  flex-direction: column;
}