.navbar {
    display: flex;
    padding: 0 2vw;
    flex-direction: row;
    background-color: var(--teal);
    justify-content: space-between;
}

.navbar-link {
    color: var(--snow);
    text-decoration: none;
}

.navbar-logo {
    padding: 0 1vw;
    margin: 1vh 0;
    font-size: 3vh;
    color: var(--snow);
    font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
}

.navbar-menu {
    gap: 0px 1vw;
    margin: 1vh 0;
    padding: 0 0;
    list-style: none;
    display: inline-flex;
}

.navbar-menu li {
    padding: 1.5vh 1vw;
    text-align: center;
}

.navbar-menu li:hover {
    cursor: pointer;
    color: var(--snow);
    background-color: var(--prussian);
}

.navbar-active {
    color: var(--prussian);
    background-color: var(--orange);
}